
body, html{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
}

button {
	padding: 1% 1%;
	font-family: 'Nunito Sans', sans-serif;
	background-color: #ffc5c5;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 0 3% 0;
}

h1 {
	color: #ff4040;
}

.estilizado {
	width: 80%;
	margin: auto;
}

.estilizado a {
	text-decoration: none;
	color: black;
}

.tabla {
	width: 100%;
		margin: auto;
}
.tds {
	width: 50%;
	padding:  1px 15px;
}

td {
	width: 33%;
}

.res {
	width: 100%;
	text-align: left;
	border-top:  1px solid black;
	padding: 0 0 2% 0;
}

#titulo {
	width: 100%;
	text-align: left;
}
.color1 {
	background-color: #ff4040;
}

.color2 {
	background-color: #ff7979;
}

.color3 {
	background-color: #ffc5c5;
}

.color4 {
	background-color: #DBCFCF;
}